.container {
  width: 100%;
  flex: 1;
  // min-height: 100vh;
  // height: 100vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  position: relative;
  min-width: 300px;
  @media screen and (max-width: 700px) {
    min-height: 100%;
  }
  // background-color: aqua;
}
.inner_container {
  width: 100%;
  padding: 10px 8%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: #ccc7c6;
  @media screen and (max-width: 700px) {
    padding: 30px 20px 20px 20px;
    width: 100%;
  }
}

.title_block {
  font-weight: 500;
  font-size: 40px;
  // line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 65px;
  @media screen and (max-width: 700px) {
    font-size: 33px;
    margin-bottom: 10px;
  }
}
.green_blocks {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  @media screen and (max-width: 700px) {
    gap: 20px;
  }
}
%green_block {
  width: 100%;
  min-height: 150px;
  background-image: url("../../public/BackGreen.png");
  // background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 54px;
  color: #ffffff;
  &:hover {
    background-color: #ff7f50;
    background-image: none;
    color: #000000;
    transition: all 1s;
  }
  @media screen and (max-width: 700px) {
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    background-size: 100%;
  }
  @media screen and (min-width: 1400px) {
    background-size: cover;
  }
  @media screen and (max-width: 500px) {
    background-size: 100%;
  }
}
.green_block_1 {
  @extend %green_block;
  background-position: left top;
}
.green_block_2 {
  @extend %green_block;
  background-position: left -150px;
  @media screen and (max-width: 700px) {
    background-position: left top;
  }
}
.green_block_3 {
  @extend %green_block;
  background-position: left -300px;
  @media screen and (max-width: 700px) {
    background-position: left top;
  }
}
.green_block_title {
  width: 40%;
  font-weight: 600;
  font-size: 32px;
  // line-height: 39px;
  text-transform: uppercase;
  @media screen and (max-width: 1200px) {
    font-size: 25px;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    font-size: 25px;
    // line-height: 30px;
    min-height: 60px;
  }
}
.green_block_text {
  width: 40%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  @media screen and (max-width: 700px) {
    width: 100%;
    font-size: 16px;
  }
}
